<!DOCTYPE html>
<html>
  <%- include('partials/head', {title: template('error.404.title')}) %>
  <body>
    <%- include('partials/header', {title: template('error.404.title'), parentLinks: []}) %>
    <div id="main-search-page">
      <div class="main-item">
        <div class="tagline">
          <h1><%- template('error.404.heading') %></h1>
          <p><%- template('error.404.message') %></p>
        </div>
        <%- include('partials/search', {style: 'homepage'}) %>
      </div>

      <%- include('partials/footer', {style: 'homepage'}) %>
    </div>

  </body>
</html>
