<!DOCTYPE html>
<html>
  <% const {title, heading, message} = config.error404 %>
  <%- include('../partials/head', {title}) %>
  <body>
    <%- include('../partials/header', {title, parentLinks: []}) %>
    <div id="main-search-page">
      <div class="main-item">
        <div class="tagline">
          <h1><%= heading %></h1>
          <p><%- message %></p>
        </div>
        <%- include('../partials/search', {style: 'homepage'}) %>
      </div>

      <%- include('../partials/footer', {style: 'homepage'}) %>
    </div>

  </body>
</html>
