<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: stringTemplate('error._500.title')}) %>
  <body>
    <%- include('../partials/header', {title: stringTemplate('error._500.title'), parentLinks: []}) %>
    <div id="main-search-page">
      <div class="main-item">
        <div class="tagline">
          <h1><%- stringTemplate('error._500.heading') %></h1>
          <p><%- stringTemplate('error._500.message') %></p>
        </div>
        <%- include('../partials/search', {style: 'homepage'}) %>
      </div>

      <%- include('../partials/footer', {style: 'homepage'}) %>
    </div>

  </body>
</html>
