<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: template('error.domain.title')}) %>
  <body>
    <%- include('../partials/header', {title: template('error.domain.title'), parentLinks: []}) %>
    <div id="main-search-page">
      <div class="main-item">
        <div class="tagline">
          <h1><%- template('error.domain.heading') %></h1>
          <p><%- template('error.domain.message') %></p>
        </div>
      </div>

      <%- include('../partials/footer', {style: 'homepage'}) %>
    </div>

  </body>
</html>
