<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <h1 class="visually-hidden">Default template</h1>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <div class="g-body">
      <div class="g-left-panel">
        <% if (locals.sections && locals.sections.length) { %>
          <!-- is this TOC -->
          <%- include('partials/sectionList') %>
        <% } %>
        <!-- Hide sibling docs on normal pages -->
        <!-- <% if (locals.siblings && siblings.length) { %>
        <%- include('partials/siblingList', {kicker: template('folder.siblingList.heading')}) %>
        <% } %> -->
      </div>

      <div class="g-main-content">
        <% if (locals.content) { %>
        <%- content %>
        <% } %>

        <% if (locals.children && children.length) { %>
        <%- include('partials/childrenList', {children, kicker: template('folder.childrenList.kicker', title)}) %>
        <% } %>
      </div>
      <div id="image-modal" class="image-modal">
          <button type="button" class="close" title="Minimize this image" aria-label="Minimize this image">
            <%- include('../../public/images/minimizeIcon.svg') %>
          </button>
          <div class="img-wrapper">
            <img class="modal-image" id="img1" />
          </div>
      </div>

      <%- include('partials/footer', { pageType: 'document', topLevelFolder: url.split('/')[1] }) %>
    </div>
  </body>
</html>
