<!DOCTYPE html>
<html>
  <%- include ../partials/head %>
  <body>
    <h1 class="visually-hidden">Default template</h1>
    <%- include ../partials/header %>
    <%- include ../partials/nav %>
    <div class="g-body">
      <div class="g-left-panel">
        <% if (locals.sections && locals.sections.length) { %>
          <%- include ../partials/sectionList %>
        <% } %>
        <% if (locals.siblings && siblings.length) { %>
        <%# include ../partials/siblingList %>
        <% } %>
      </div>

      <div class="g-main-content">
        <% if (locals.content) { %>
        <%- content %>
        <% } %>

        <% if (locals.children && children.length) { %>
        <%- include('../partials/childrenList', {children, kicker: stringTemplate('file.childrenList.kicker', title)}) %>
        <% } %>
      </div>

      <%- include('../partials/footer', { pageType: 'document', topLevelFolder: url.split('/')[1] }) %>
    </div>
  </body>
</html>
