<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: template('landing.viewAll')}) %>
  <body>
    <%- include('../partials/header', {parentLinks: [], title: template('landing.viewAll')}) %>

    <div class="g-upper-body">
    <%- include('../partials/nav') %>
    </div>

    <div id="category-page" class="g-body">
      <div class="g-main-content">
      <% all.forEach((category) => { %>
        <%- include('../partials/childrenList', {kicker: category.prettyName, children: category.children, link: category.path}) %>
      <% }) %>
      </div>
      <script>
        let x = document.getElementsByClassName("children")
        let y = document.getElementsByClassName("children-container")
        let numButtons = 0
        for (i = 0; i < x.length; i++) { 
          if (x[i].clientHeight > 300) { 
            y[i].innerHTML = y[i].innerHTML + "<button class=\"seeMore-button\"/>"
            numButtons = numButtons + 1;
          }
          if (document.getElementsByClassName('seeMore-button').length > 0){
            let button = document.getElementsByClassName('seeMore-button')[numButtons-1];
            button.onclick = function(e) {
              if (button.previousSibling.previousSibling.className == "children-view"){
                button.previousSibling.previousSibling.setAttribute('class', 'children-view-show');
                button.setAttribute('class', 'seeMore-button-show')
              }
              else {
                button.previousSibling.previousSibling.setAttribute('class', 'children-view');
                button.setAttribute('class', 'seeMore-button')
              }
            };
          }
        }
      </script>
      <%- include('../partials/footer', { pageType: 'category_index' }) %>
    </div>
  </body>
</html>
