<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'Find by category'}) %>
  <body>
    <%- include('../partials/header', {parentLinks: [], title: 'Find by category'}) %>

    <div class="g-upper-body">
    <%- include('../partials/nav') %>
    </div>

    <div id="category-page" class="g-body">
      <div class="g-main-content">
      <% categories.forEach((category) => { %>
        <%- include('../partials/childrenList', {kicker: category.sort, children: category.children, link: category.path}) %>
      <% }) %>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
