<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'Find by category'}) %>
  <body>
    <%- include('../partials/header', {parentLinks: [], title: 'Find by category'}) %>

    <div class="g-upper-body">
    <%- include('../partials/nav') %>
    </div>

    <div id="category-page" class="g-body">
      <div class="g-main-content">
      <% categories.forEach((category) => { %>
        <div class="category">
          <h3><a href="<%= category.path %>"><%= category.sort %></a></h3>
          <ul>
            <% category.children.forEach((page) => { %>
              <% if(!page.isHomePage) { %>
                <li><a href="<%= page.path %>"><%= page.prettyName %></a></li>
              <% } %>
            <% }) %>
          </ul>
        </div>
      <% }) %>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
