<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'NYT Library'}) %>
  <body>

    <header id="masthead" class="masthead" role="banner">
      <div class="container">
        <%- include ../partials/userTools %>
      </div>
    </header>

    <div id="main-search-page">
      <div class="main-item">
        <%- include ../partials/branding %>
        <div class="tagline">
          <p>A collection of shared newsroom knowledge and training.</p>
        </div>
        <%- include('../partials/search', {style: 'homepage', focus: 'autofocus', msgOnFocus: 'What are you looking for?'}) %>

        <div class="featured-cat">
          <div class="teams-cat-container">
            <h3>Find by team:</h3>
            <ul class="teams-cat-list">
              <% teams.forEach((team) => { %>
                <li><a class="button btn-cat" href="<%= team.path %>"><%= team.prettyName %></a></li>
              <% }) %>
            </ul>
          </div>
          <div class="featured-cat-container">
            <h3>Useful Docs:</h3>
            <ul class="featured-cat-list">
              <% featured.forEach((doc) => { %>
                <li><a href="<%= doc.path %>"><%= doc.prettyName %></a></li>
              <% }) %>
              <li><a class="button btn-homepage" href="/categories">View All Docs</a></li>
            </ul>
          </div>
        </div>

      </div>
      <%- include('../partials/footer', {style: 'homepage', pageType: 'homepage'}) %>
    </div>
  </body>
</html>
