<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'NYT Library'}) %>
  <body>

    <header id="masthead" class="masthead" role="banner">
      <div class="container">
        <%- include ../partials/userTools %>
      </div>
    </header>

    <div id="main-search-page">
      <div class="main-item">
        <%- include ../partials/branding %>
        <div class="tagline">
          <p>A collection of shared newsroom knowledge and training.</p>
        </div>
        <%- include('../partials/search', {style: 'homepage', focus: 'autofocus', msgOnFocus: 'What are you looking for?'}) %>

        <div class="featured-cat">
          <div class="featured-cat-list">
            <% categories.team.forEach((category) => { %>
              <% if (category.sort !== 'How do I use this site') { %>
                <a href="<%= category.path %>"><button type="button" class="button btn-cat"><%= category.prettyName %></button></a>
              <% } %>
            <% }) %>
            <a href="/categories"><button type="button" class="button btn-homepage">View All Docs</button></a>
          </div>

        </div>

      </div>
      <%- include('../partials/footer', {style: 'homepage', pageType: 'homepage'}) %>
    </div>
  </body>
</html>
