<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'NYT Library'}) %>
  <body>

    <header id="masthead" class="masthead" role="banner">
      <div class="container">
        <%- include ../partials/userTools %>
      </div>
    </header>

    <div id="main-search-page">
      <div class="main-item">
        <%- include('../partials/branding', {context: 'home'}) %>
        <div class="tagline">
          <p><%= config.tagline %> <a href="/faq">Get started.</a></p>
        </div>
        <% const searchPlaceholder = config.search_placeholder%>
        <%- include('../partials/search', {style: 'homepage', focus: 'autofocus', msgOnFocus: searchPlaceholder}) %>

        <div class="featured-cat">
          <div class="teams-cat-container">
            <h3>Find by Team</h3>
            <ul class="teams-cat-list">
              <% teams.slice(0, 6).forEach((team) => { %>
                <li data-team-id="<%= team.id %>"><a class="button btn-cat" href="<%= team.path %>"><%= team.prettyName %></a></li>
              <% }) %>
            </ul>
          </div>
          <div class="featured-cat-container">
            <h3>Useful Docs</h3>
            <ul class="featured-cat-list">
              <% featured.forEach((doc) => { %>
                <% const type = doc.resourceType %>
                <li>
                  <%
                  const iconMap = {
                    document: 'file-o',
                    spreadsheet: 'table',
                    'text/html': 'file-o',
                    folder: 'folder',
                    presentation: 'clone',
                    image: 'picture-o',
                    video: 'video-camera',
                    pdf: 'file-pdf-o'
                  }
                  const iconName = iconMap[type] || 'external-link'
                  const className = `fa-${iconName}`
                  %>
                  <i class="fa foldericon <%= className %>" aria-hidden="true"></i>
                  <a href="<%= doc.path %>"><%= doc.prettyName %></a>
                </li>
              <% }) %>
              <li><a class="button btn-homepage" href="/categories">View All Docs</a></li>
            </ul>
          </div>
        </div>

      </div>
      <%- include('../partials/footer', {style: 'homepage', pageType: 'homepage'}) %>
    </div>
  </body>
</html>
