<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: 'NYT Library'}) %>
  <body>

    <header id="masthead" class="masthead" role="banner">
      <div class="container">
        <%- include ../partials/userTools %>
      </div>
    </header>

    <div id="main-search-page">
      <div class="main-item">
        <%- include ../partials/branding %>
        <div class="tagline">
          <p>A collection of shared newsroom knowledge and training.</p>
        </div>
        <%- include('../partials/search', {style: 'homepage', focus: 'autofocus', msgOnFocus: 'What are you looking for?'}) %>

        <div class="featured-cat">
          <a href="/categories"><button type="button" class="btn-plaintext">Find by category:</button></a>
          <div class="featured-cat-list">
            <% categories.forEach((category) => { %>
              <% if (category.sort !== 'How do I use this site') { %>
                <a href="<%= category.path %>"><button type="button" class="button btn-cat"><%= category.sort %></button></a>
              <% } %>
            <% }) %>
          </div>
        </div>

      </div>
<<<<<<< HEAD

      <div class="main-item main-item--bottom">
        <a href="#"><button type="button" class="btn-plaintext">How do I use this site?</button></a>
      </div>
=======
      <%- include('../partials/footer', {style: 'homepage'}) %>
>>>>>>> ba4e2cc04e064c650da3cf72ca17fb176783fe3f
    </div>
  </body>
</html>
