<!DOCTYPE html>
<html>
  <head>
    <script src="assets/scripts/animations.js"></script>
    <link rel="stylesheet" href="assets/css/customstyles.css">
    <%- include('partials/head', {title: template('search.results.title', locals.q), formatUrl, pathPrefix}) %>
  </head>
  <body>
    <%- include('partials/header', {parentLinks: [], title: template('search.results.title', locals.q)}) %>
    <%- include('partials/nav', {formatUrl}) %>
    <div class="g-body">
      <div class="g-main-content" id="g-search-page">
        <h3 class="search-kicker">
          Showing <%- '<span class="animated-gradient-text">AI</span>' %> search results for '<%= locals.q %>':
        </h3>
        <div id="llm-response-box">
          <div id="llm-response">
            <%= locals.llmResponse %>
          </div>
          <% if (locals.results && results.length) { %>
            <div id="disclaimer">
              AI can be incorrect. Always check this response against the documents and the non-AI search.
            </div>
          <% } %>
        </div>
        <% if (locals.results && results.length) { %>
          <% results.forEach((res) => { %>
          <div class="search-result">
            <h3><a href="<%= formatUrl(res.path) %>"><%= res.prettyName %></a></h3>
            <p>
              <% if (res.folder) { %>
              <%- template('search.results.label.folder', formatUrl(res.folder.path), res.folder.prettyName || 'Home')%>&nbsp;
              <% } %>
              <% if (res.lastModifyingUser && res.lastModifyingUser.displayName) { %>
                <%- template('search.results.label.person', res.lastModifyingUser.displayName) %>
              <% } %>
              <%= res.lastUpdated %>
            </p>
          </div>
          <% }) %>
        <% } %>
      </div>

      <%- include('partials/footer', { pageType: 'search', formatUrl }) %>
    </div>
  </body>
</html>
