<!DOCTYPE html>
<html>
<%- include('../partials/head', {title}) %>
  <body>
    <h1 class="visually-hidden">Default template</h1>
    <%- include('../partials/header', {title}) %>
    <%- include ../partials/nav %>
    <div class="g-body">
      <div class="g-left-panel">
        <%- include('../partials/playlistList') %>
      </div>
      <div class="g-main-content">
        <% if (locals.content) { %>
        <%- content %>
        <% } %>
      </div>
      <%- include('../partials/footer', { pageType: 'playlist' }) %>
      <div>
      	<a href="<%= previous %>"><%- template('playlist.nav.previous') %></a> 
      	<a href="<%= next %>"><%- template('playlist.nav.next') %></a>
      </div>
    </div>
  </body>
</html>
