<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: `Reading History`}) %>
  <body>
    <%- include('../partials/header', {parentLinks: [], title: `Reading History`}) %>

    <div class="g-upper-body">
    <%- include('../partials/nav') %>
    </div>

    <div class="g-body">
      <div class="g-main-content" id="g-reading-history">
        <h1>Your Reading History</h1>

        <h3>Recently Viewed</h3>
        <% results.recentlyViewed.forEach((view) => { %>
          <div class="view">
            <a href="<%= view.doc.path %>"><%= view.doc.prettyName %></a>
              <% if(view.doc.folder) { %> in <%= view.doc.folder.name %><% } %>
              (<%= view.lastViewed %>)
          </div>
        <% }) %>

        <h3>Favorites</h3>
        <% results.mostViewed.forEach((view) => { %>
          <div class="view">
            <a href="<%= view.doc.path %>"><%= view.doc.prettyName %></a>
              <% if(view.doc.folder) { %> in <%= view.doc.folder.name %><% } %>
              (<%= view.viewCount %> view<%= view.viewCount > 1 ? 's' : '' %>)

            <% if(new Date(view.lastViewedAt) < new Date(view.doc.modifiedTime)) { %>
              <div>Updated by <%= view.doc.lastModifyingUser.displayName %> <%= view.doc.lastUpdated %></div>
            <% } %>
          </div>
        <% }) %>
      </div>

      <%- include('../partials/footer', { pageType: 'search' }) %>
    </div>
  </body>
</html>
