<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: `Search Results for ${locals.q}`}) %>
  <body>
    <%- include('../partials/header', {parentLinks: [], title: `Results for ${locals.q}`}) %>

    <div class="g-upper-body">
    <%- include('../partials/nav') %>
    </div>

    <div class="g-body">
      <div class="g-main-content" id="g-search-page">
        <% if (locals.results && results.length) { %>
          <h3 class="search-kicker">Showing results for '<%= locals.q %>':</h3>
          <% results.forEach((res) => { %>
          <div class="search-result">
            <h3><a href="<%= res.path %>"><%= res.prettyName %></a></h3>
            <p>
              <% if (res.folder) { %>
              Filed under
              <a class="folder" href="<%= res.folder.path %>"><span><%= res.folder.prettyName || 'Home' %></span></a>&nbsp;
              <% } %>
              Last edited
                <% if (res.lastModifyingUser) { %>
                by <span class="author"><%= res.lastModifyingUser.displayName %></span>
                <% } %>
                <%= res.lastUpdated %>.
            </p>
          </div>
          <% }) %>
        <% }  else { %>
          <h3 class="search-kicker">There are no results for '<%= locals.q %>'</h3>
          <p>To request a new page, email us at <a href="mailto:***REMOVED***">***REMOVED***</a>, or find us on slack in <a href="***REMOVED***/library">#library</a>.</p>
        <% } %>
      </div>

      <%- include('../partials/footer', { pageType: 'search' }) %>
    </div>
  </body>
</html>
