<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: `Search Results for ${locals.q}`}) %>
  <body>
    <%- include('../partials/header', {parentLinks: [], title: `Results for ${locals.q}`}) %>

    <div class="g-upper-body">
    <%- include('../partials/nav') %>
    </div>

    <div class="g-body">
      <div class="g-main-content" id="g-search-page">

        <% if(locals.results) { %>
          <h3 class="search-kicker">Showing results for '<%= locals.q %>':</h3>
        <% } %>


        <% if(locals.results) { %>
          <% locals.results.forEach((res) => { %>
          <div class="search-result">
            <h3><a href="<%= res.path %>"><%= res.prettyName %></a></h3>
            <p>
              Filed under
              <a class="folder" href="<%= res.folder.path %>"><span><%= res.folder.name || 'Home' %></span></a>&nbsp;
              Last edited by
                <span class="author"><%= res.lastModifyingUser.displayName %></span>
                <%= res.lastUpdated %>.
            </p>
          </div>
          <% }) %>
        <% } %>
      </div>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
