<!DOCTYPE html>
<html>
  <% const {resultsTitle, resultsKicker, resultLabel, noResults} = config.search %>
  <%- include('../partials/head', {title: resultsTitle(locals.q)}) %>
  <body>
    <%- include('../partials/header', {parentLinks: [], title: resultsTitle(locals.q)}) %>

    <%- include('../partials/nav') %>

    <div class="g-body">
      <div class="g-main-content" id="g-search-page">
        <% if (locals.results && results.length) { %>
          <h3 class="search-kicker"><%- resultsKicker(locals.q) %></h3>
          <% results.forEach((res) => { %>
          <div class="search-result">
            <h3><a href="<%= res.path %>"><%= res.prettyName %></a></h3>
            <p>
              <% if (res.folder) { %>
                <% let folderName = res.folder.prettyName ? res.folder.prettyName : 'Home' %>
                <%- resultLabel.folder(res.folder.path, folderName)%>&nbsp;
              <% } %>
              <% if (res.lastModifyingUser) { %>
                <%- resultLabel.person(res.lastModifyingUser.displayName)%>
              <% } %>
              <%= res.lastUpdated %>
            </p>
          </div>
          <% }) %>
        <% }  else { %>
          <h3 class="search-kicker"><%- noResults.kicker(locals.q) %></h3>
          <p><%- noResults.suggestion %></p>
        <% } %>
      </div>

      <%- include('../partials/footer', { pageType: 'search' }) %>
    </div>
  </body>
</html>
