<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: `Search Results for ${locals.q}`}) %>
  <body>
    <%- include('../partials/header', {parentLinks: [], title: `Results for ${locals.q}`}) %>

    <div class="g-upper-body">
    <%- include('../partials/nav') %>
    </div>

    <div class="g-body">
      <div class="g-main-content" id="g-search-page">

        <% if(locals.results) { %>
          <h3 class="search-kicker">Showing results for '<%= locals.q %>':</h3>
        <% } %>


        <% if(locals.results) { %>
          <% locals.results.forEach((res) => { %>
          <div class="search-result">
            <h3><a href="<%= res.path %>"><%= res.prettyName %></a></h3>
            <p>
              Filed under:
              <a class="folder" href="<%= res.folder.path %>"><%= res.folder.name || 'Home' %></a>.
              Last edited by
                <span class="author"><%= res.lastModifyingUser.displayName %></span>
                <%= res.lastUpdated %>.
            </p>
          </div>
          <% }) %>
        <% } %>

      </div>

      <div class="g-footer g-footer-shorter">
        <!-- how do we do pagination here?? -->
        <button type="button" class="btn-footer"><a href="#">1</a></button>
        <button type="button" class="btn-footer"><a href="#">2</a></button>
        <button type="button" class="btn-plaintext"><a href="#">How do I use this site?</a></button>
      </div>
    </div>

  </body>
</html>
