<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a class="content-link" href="/">/</a>
  </li>
<% parentLinks.forEach((link) => { %>
  <li class="breadcrumb-item">
    <a class="content-link" href="<%- link.url %>" ><%= link.name %></a>
    <a class="edit-link" href="<%- link.editLink %>">(edit)</a> /
  </li>
<% }) %>
  <li class="breadcrumb-item">
    <%= title %>
    <a class="edit-link" href="<%- editLink %>">(edit)</a>
  </li>
</ul>
<style>
.breadcrumb {
  padding-left: 0;
}

.breadcrumb-item {
  display: inline-block;
}
</style>
