<div class="children-container">
  <% if (locals.kicker) { %>
    <h3>
    <% if (locals.link) { %><a href="<%= link %>"><% } %>
    <%= kicker %>
    <% if (locals.link) { %></a><% } %>
    </h3>
  <% } %>
  <ul class="children">
    <% children.forEach((link) => { %>
      <% const type = link.resourceType %>
      <li class="type-<%= type %>">
        <%
          let icon
          switch(type) {
            case 'document':
              icon = 'fa-file-o'
              break
            case 'spreadsheet':
              icon = 'fa-table'
              break
            case 'folder':
              icon = 'fa-folder'
              break
            case 'presentation':
              icon = 'fa-file-powerpoint-o'
              break
            default:
              icon = 'fa-external-link'
              break
          }
        %>
        <i class="fa foldericon <%= icon %>" aria-hidden="true"></i>
        <a class="content-link" href="<%- link.url %>" ><%= link.name %></a>
        <p>Type: <%= link.resourceType %></p>
      </li>
    <% }) %>
  </ul>
</div>
