<div class="children-container">
  <% if (locals.kicker) { %>
    <h3>
    <% if (locals.link) { %><a href="<%= link %>"><% } %>
    <%= kicker %>
    <% if (locals.link) { %></a><% } %>
    </h3>
  <% } %>
  <div class="kid">
  <ul class="children">
    <% const maxList =  3 %>
    <% let counter = 0 %>
    <% console.log('yuh yeh', children[0]) %>
    <% children.forEach((link) => { %>
      <% const type = link.resourceType %>
      <li class="type-<%= type %>">
        <%
        const iconMap = {
          document: 'file-o',
          spreadsheet: 'table',
          'text/html': 'file-o',
          folder: 'folder',
          presentation: 'clone',
          image: 'picture-o',
          video: 'video-camera',
          pdf: 'file-pdf-o'
        }
        const iconName = iconMap[type] || 'external-link'
        const className = `fa-${iconName}`
        %>
        <i class="fa foldericon <%= className %>" aria-hidden="true"></i>
        <a class="content-link" href="<%- link.url %>" ><%= link.name %></a>
        <% counter = counter + 1%>
      </li>
    <% }) %>
  </ul>
  </div>
</div>
