<div class="children-container">
  <% if (locals.kicker) { %>
    <h3>
    <% if (locals.link) { %><a href="<%= link %>"><% } %>
    <%= kicker %>
    <% if (locals.link) { %></a><% } %>
    </h3>
  <% } %>
  <ul class="children">
    <% children.forEach((link) => { %>
      <% const type = link.resourceType === 'folder' ? 'folder' : 'file' %>
      <li class="type-<%= type %>">
        <% const icon = type === 'folder' ? 'fa-folder' : 'fa-file-o'; %>
        <i class="fa foldericon <%= icon %>" aria-hidden="true"></i>
        <a class="content-link" href="<%- link.url %>" ><%= link.name %></a>
        <p>Type: <%= link.resourceType %></p>
      </li>
    <% }) %>
  </ul>
</div>
