<% var style = locals.style === 'homepage' ? 'main-item main-item--bottom' : 'g-footer' %>
<div class="<%= style %>">
  <% if (locals.pager) { %>
    <% pager.forEach((page, i) => { %>
  <a href="<%- page.link %>"><button type="button" class="btn-footer"><%= i + 1 %></button></a>
    <% }) %>
  <% } %>
  <% if (locals.editLink) { %>
  <a href="<%- editLink %>" target="_blank"><button type="button" class="btn-footer">Edit This Page</button></a>
  <% } %>
  <% if (locals.parentId) { %>
  <a href="https://docs.google.com/a/nytimes.com/document/create?usp=drive_web&folder=<%- parentId %>" target="_blank"><button type="button" class="btn-footer">Create New Page</button></a>
  <% } %>

  <a href="/how-do-i-use-this-site"><button type="button" class="btn-plaintext">How do I use this site?</button></a>
</div>
<script>
  // Google Analytics tracking
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '***REMOVED***', 'auto');

  <% if(locals.userInfo) { %>
    ga('set', 'userId', <%- JSON.stringify(locals.userInfo.userId) %>); // Set the user ID using signed-in user_id.
  <% } %>

  <% if(locals.pageType) { %>
    ga('set', 'contentGroup1', <%- JSON.stringify(locals.pageType) %>);
  <% } %>

  <% if(locals.topLevelFolder) { %>
    ga('set', 'contentGroup2', <%- JSON.stringify(locals.topLevelFolder) %>);
  <% } %>

  ga('send', 'pageview');
</script>
