<%- include breadcrumb %>
<div class="g-upper-body">
  <h1 class="headline"><%= title %></h1>
  <div class="kicker">
    <div class="attribution">
      <p>Created by <span class="author"><%= createdBy %></span> <%= createdAt %></p>
      <p>Last edited by <%= lastUpdatedBy %> <%= lastUpdated %></p>
    </div>
    <div class="tool">
      <!-- <button type="button" class="button"><a href="<%- editLink %>">Edit this</a></button> -->
    </div>
  </div>

</div>
