<<<<<<< HEAD
<%- include breadcrumb %>
<div class="g-upper-body">
  <div class="search-topper">
    <form method="GET" action="/search" class="search-container">
      <input id="search-box" type="text" name="q" value="<%= locals.q %>" placeholder="Search for documents.." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search for documents..'"/>
      <button class="icon"><i class="fa fa-search"></i></button>
    </form>

    <div class="additional-menus">
      <button type="button" class="btn-plaintext"><a href="#">Find by Category</a></button>
      <!-- <button type="button" class="btn-plaintext"><a href="#">Onboarding Guide</a></button> -->
    </div>
=======
<header id="masthead" class="masthead" role="banner">
  <div class="container">
    <%- include branding %>
    <%- include breadcrumb %>
    <%- include userTools %>
>>>>>>> update template structure
  </div>
</header>
