<div class="g-upper-body">
  <%- include search %>
  <% if (locals.title) { %>
  <% if (locals.duplicate) { %>
    <%- include('../partials/warning', {message: template('warning.duplicateDoc')}) %>
  <% } %>
  <h1 class="headline"><%= title %></h1>
  <div class="kicker">
    <div class="attribution">
      <p>
        <% if (locals.byline) { %>
          By <span class="author"><%= locals.byline %></span>.
        <% } else if (locals.createdBy && !locals.byline) { %>
          Created by <span class="author"><%= createdBy %></span> <%= createdAt %>.
        <% } %>
        <% if (locals.lastUpdatedBy) { %>
          <%# just encode the last updated date as data property to make relative time work for cache %>
      Last edited by <span class="author"><%= lastUpdatedBy %></span> <span class="last-updated" data-last-updated="<%= modifiedAt %>"></span>.</p>
          <!-- populate last updated time -->
          <script>
          (function () {
            var $lastUpdated = $('.last-updated')
            var utcUpdated = $lastUpdated.data('last-updated')
            var updatedMoment = moment(utcUpdated)
            $lastUpdated.html(updatedMoment.fromNow())
          })()
          </script>
        <% } %>
      </p>
    </div>

    <% if (locals.editLink) { %>
      <div class="tool">
        <a href="<%- editLink %>" id="edit-button" target="_blank">Edit<i class="fa fa-pencil" aria-hidden="true"></i></a>

      </div>
    <% } %>

  </div>
  <% } %>

</div>
