<div class="g-upper-body">
  <%- include search %>
  <% if (locals.title) { %>
  <h1 class="headline"><%= title %></h1>
  <div class="kicker">
    <div class="attribution">
      <% if (locals.createdBy) { %>
      <p>Created by <span class="author"><%= createdBy %></span> <%= createdAt %>.
      <% } %>
      Last edited by <span class="author"><%= lastUpdatedBy %></span> <%= lastUpdated %>.</p>
    </div>
    <div class="tool">

    </div>
  </div>
  <% } %>

</div>
