<div class="g-upper-body">
  <%- include search %>
  <% if (locals.title) { %>
  <% if (locals.duplicates) { %>
    <%- include('../partials/warning', {message: template('warning.duplicate', locals.duplicates, locals.parentId) }) %>
  <% } %>
  <h1 class="headline"><%= title %></h1>
  <div class="kicker">
    <div class="attribution">
      <p>
        <% if (locals.byline) { %>
          Created by <span class="author"><%= locals.byline %></span> <span class="created-at" data-created-at="<%= createdAt %>"></span>.
          <!-- display created at time as from now (if less than a year ago) or date (if more) -->
          <script>
          (function () {
            var createdAt = $('.created-at')
            var utcCreated = createdAt.data('created-at')
            var createdMoment = moment(utcCreated)
            createdAt.html(moment().diff(createdMoment, 'years') > 1 ? `on ${createdMoment.format('MMMM D, YYYY')}` : createdMoment.fromNow())
          })()
          </script>
        <% } else if (locals.createdBy && !locals.byline) { %>
          Created by <span class="author"><%= createdBy %></span> <span class="created-at" data-created-at="<%= createdAt %>"></span>.
          <!-- display created at time as from now (if less than a year ago) or date (if more) -->
          <script>
          (function () {
            var createdAt = $('.created-at')
            var utcCreated = createdAt.data('created-at')
            var createdMoment = moment(utcCreated)
            createdAt.html(moment().diff(createdMoment, 'years') > 1 ? `on ${createdMoment.format('MMMM D, YYYY')}` : createdMoment.fromNow())
          })()
          </script>
        <% } %>
        <% if (locals.lastUpdatedBy) { %>
          <%# just encode the last updated date as data property to make relative time work for cache %>
          </p>
          <p>
            Last edited by <span class="author"><%= lastUpdatedBy %></span> <span class="last-updated" data-last-updated="<%= modifiedAt %>"></span>.</p>
            <!-- populate last updated time -->
            <script>
            (function () {
              var $lastUpdated = $('.last-updated')
              var utcUpdated = $lastUpdated.data('last-updated')
              var updatedMoment = moment(utcUpdated)
              $lastUpdated.html(updatedMoment.fromNow())
            })()
            </script>
        <% } %>
      </p>
    </div>

    <% if (locals.editLink) { %>
      <div class="tool">
        <a href="<%- editLink %>" id="edit-button" target="_blank">Edit<i class="fa fa-pencil" aria-hidden="true"></i></a>

      </div>
    <% } %>

  </div>
  <% } %>

</div>
