<div class="g-upper-body">
  <%- include search %>
  <% if (locals.title) { %>
  <% if (locals.duplicates) { %>
    <%- include('../partials/warning', {message: template('warning.duplicate', locals.duplicates, locals.parentId) }) %>
  <% } %>
  <h1 class="headline"><%= title %></h1>
  <div class="kicker">
    <div class="attribution">
      <p>
        <% if (locals.byline) { %>
          Created by <span class="author"><%= locals.byline %></span> <%= createdAt %>.
        <% } else if (locals.createdBy && !locals.byline) { %>
          Created by <span class="author"><%= createdBy %></span> <%= createdAt %>.
        <% } %>
        <% if (locals.lastUpdatedBy) { %>
          <%# just encode the last updated date as data property to make relative time work for cache %>
          </p><p>
            Last edited by <span class="author"><%= lastUpdatedBy %></span> <%= modifiedAt %>.</p>
        <% } %>
      </p>
    </div>

    <% if (locals.editLink) { %>
      <div class="tool">
        <a href="<%- editLink %>" id="edit-button" target="_blank">Edit<i class="fa fa-pencil" aria-hidden="true"></i></a>

      </div>
    <% } %>

  </div>
  <% } %>

</div>
