<div class="search-topper">
  <form method="GET" action="/search" class="search-container">
    <% const focus = locals.focus || '' %>
    <% const msgOnFocus = locals.msgOnFocus || '' %>
    <input <%= focus %> id="search-box" type="text" name="q" value="<%= locals.q %>" placeholder="What are you looking for?" onfocus="this.placeholder = '<%= msgOnFocus %>'" onblur="this.placeholder = 'What are you looking for?'"/>
    <button class="icon"><i class="fa fa-search"></i></button>
  </form>

  <% const style = locals.style || 'plaintext' %>
  <div class="additional-menus <%= style %>"">
    <a href="/categories"><button type="button" class="button btn-<%= style %>">View All Docs</button></a>
    <%# <a href="#"><button type="button" class="btn-plaintext">Onboarding Guide</button></a>%>
  </div>

</div>
