<div class="search-topper">
  <form method="GET" action="<%= formatUrl('/search') %>" class="search-container">
    <% const placeholder = 'Search... (or ask a question with AI)'%>
    <% const focus = locals.focus || '' %>
    <% const msgOnFocus = placeholder || '' %>
    <input <%= focus %> id="search-box" class="twitter-typeahead" type="text" name="q" value="<%= locals.q %>" placeholder="<%- placeholder %>" />
    <button class="icon"><i class="fa fa-search"></i></button>
  </form>

  <% const style = locals.style || 'plaintext' %>
  <div class="additional-menus <%= style %>">
    <a href="<%= formatUrl('/categories') %>"><button type="button" class="button btn-<%= style %>"><%- template('landing.viewAll') %></button></a>
    <%# <a href="#"><button type="button" class="btn-plaintext">Onboarding Guide</button></a>%>
  </div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const searchIcon = document.querySelector(".icon i");
    const searchBox = document.getElementById('search-box');
    function aiMode() {
      if (searchBox.value.includes('?')) {
        searchIcon.classList.remove("fa-search")
        searchIcon.classList.add("fa-search-plus")
        for (let i = 0; i < searchContainers.length; i++) {
          searchContainers[i].style.backgroundColor = 'rgb(172, 176, 255)';
        }
      } else {
        for (let i = 0; i < searchContainers.length; i++) {
          searchContainers[i].style.backgroundColor = '';
          searchIcon.classList.remove("fa-search-plus")
          searchIcon.classList.add("fa-search")
        }
      }
    }
    const loadingInterval = setInterval(() => {
    const searchContainers = document.getElementsByClassName('twitter-typeahead');
    if (searchContainers.length > 0) {
      clearInterval(loadingInterval);
      aiMode();
    }
  }, 100);
    const searchContainers = document.getElementsByClassName('twitter-typeahead');
    searchBox.addEventListener('input', aiMode);
  });
</script>
