<ul class="sibling">
  <div class="sibling-kicker">
  	<%= locals.kicker %>
  </div>
  <% siblings.forEach((link) => { %>
    <% const type = link.nodeType === 'branch' ? 'folder' : 'file' %>
    <li class="type-<%= type %>">
      <% const icon = type === 'folder' ? 'fa-folder' : 'fa-file-o'; %>
      <i class="fa foldericon <%= icon %>" aria-hidden="true"></i>
      <% if (link.isCurrent) { %>
        <strong><%= link.name %></strong>
      <% } else { %>
        <a class="content-link" href="<%- formatUrl(link.url) %>" ><%= link.name %></a>
      <% } %>
    </li>
  <% }) %>
</ul>
