<!DOCTYPE html>
<html>
  <%- include ../partials/head %>
  <body>
    <h1 class="visually-hidden">Default Playlist template</h1>
    <%- include ../partials/header %>
    <%- include ../partials/nav %>
    <div class="g-body">
      <div class="g-main-content">
        <% if (locals.children && children.length) { %>
        <%- include('../partials/childrenList', {children, kicker: template('playlist.childrenList.kicker', title)}) %>
        <% } %>
      </div>

      <%- include('../partials/footer', { pageType: 'document', topLevelFolder: url.split('/')[1] }) %>
    </div>
  </body>
</html>
