<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search Results for <%= locals.q %></title>
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <script src="https://***REMOVED***" async></script>
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

    <header id="masthead" class="masthead" role="banner">
      <div class="container">
        <div class="branding">
          <h2 class="branding-heading">
            <a id="branding-heading-link" href="http://www.nytimes.com/">
              <span class="visually-hidden">The New York Times</span>
              <img src="/assets/images/nyt-T-logo.png" class="nyt-logo" alt="The New York Times">
            </a>
          </h2>
          <h3 class="branding-label"><a class="content-link" href="/">Library</a></h3>
        </div>

        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <% if(locals.results) { %>
              ⇾ Results for '<%= locals.q %>'
            <% } %>
          </li>
        </ul>

        <div class="user-tools">

        </div>
      </div>
    </header>

    <div class="g-upper-body">
      <div class="search-topper">
        <form method="GET" action="/search" class="search-container">
          <input id="search-box" type="text" name="q" value="<%= locals.q %>" placeholder="Search for documents.." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search for documents..'"/>
          <button class="icon"><i class="fa fa-search"></i></button>
        </form>

        <div class="additional-menus">
          <button type="button" class="btn-plaintext"><a href="#">Find by Category</a></button>
          <button type="button" class="btn-plaintext"><a href="#">Onboarding Guide</a></button>
        </div>
      </div>

    </div>

    <div class="g-body">
      <div class="g-main-content" id="g-search-page">

        <% if(locals.results) { %>
          <h3 class="search-kicker">Showing results for '<%= locals.q %>':</h3>
        <% } else { %>
          <h3 class="search-kicker">No result found for '<%= locals.q %>'. Try other keywords.</h3>
        <% } %>

        <% if(locals.results) { %>
          <% locals.results.forEach((res) => { %>
          <div class="search-result">
            <h3><a href="<%= res.webViewLink %>"><%= res.name %></a></h3>
            <p>Filed under: <span class="folder">Some Folder Name</span>. Last edited by <span class="author">Some Name</span> 5 hours ago.</p>
          </div>
          <% }) %>
        <% } %>

      </div>

      <div class="g-footer g-footer-shorter">
        <!-- how do we do pagination here?? -->
        <button type="button" class="btn-footer"><a href="#">1</a></button>
        <button type="button" class="btn-footer"><a href="#">2</a></button>
        <button type="button" class="btn-plaintext"><a href="#">How do I use this site?</a></button>
      </div>
    </div>

  </body>
</html>
