<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <h1 class="visually-hidden">Default template</h1>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <div class="g-body">
      <div class="g-left-panel">
        <% if (locals.sections && locals.sections.length) { %>
          <!-- is this TOC -->
          <%- include('partials/sectionList') %>
        <% } %>
        <!-- Hide sibling docs on normal pages -->
        <!-- <% if (locals.siblings && siblings.length) { %>
        <%- include('partials/siblingList', {kicker: template('folder.siblingList.heading')}) %>
        <% } %> -->
      </div>

      <div class="g-main-content">
        <% if (locals.content) { %>
        <%- content %>
        <div id="usefulness-feedback">
          Was this helpful?
          <a class="button" href=""><i class="fa fa-thumbs-up" aria-hidden="true"></i>Yes</a>
          <a class="button" href=""><i class="fa fa-thumbs-down" aria-hidden="true"></i>No</a>
          <div class="modal">
            <section class="modalBody">
              <div class="modalGraphic">
                
              </div>
              <div class="modalContent">
                <header>
                  What is the reason for your feedback?
                </header>
                <div><input name="reason" id="growth" type="radio" /><label for="growth">Used for growth</label></div>
                <div><input name="reason" id="training" type="radio" /><label for="training">Used for training</label></div>
                <div><input name="reason" id="other" type="radio" /><label for="other">Other</label></div>
                <footer>
                  <a class="button" href="">Cancel</a>
                  <a class="button" href="">Submit</a>
                </footer>
              </div>
              
            </section>
          </div>
        </div>
        <% } %>

        <% if (locals.children && children.length) { %>
        <%- include('partials/childrenList', {children, kicker: template('folder.childrenList.kicker', title)}) %>
        <% } %>
      </div>
      <%- include('partials/imgModal') %>
      <%- include('partials/footer', { pageType: 'document', topLevelFolder: url.split('/')[1] }) %>
    </div>
  </body>
</html>
